[submodule "Source/Interactive-map-of-locations-extracted-from-the-haunted-places-dataset-using-NASA-JPL-MEMEX"]
	path = Source/Interactive-map-of-locations-extracted-from-the-haunted-places-dataset-using-NASA-JPL-MEMEX
	url = https://github.com/Hibis5946/Interactive-map-of-locations-extracted-from-the-haunted-places-dataset-using-NASA-JPL-MEMEX.git
[submodule "Source/Image-forensics-and-similarity-analysis-of-the-haunted-places-dataset-using-NASA-JPL-ImageSpace"]
	path = Source/Image-forensics-and-similarity-analysis-of-the-haunted-places-dataset-using-NASA-JPL-ImageSpace
	url = https://github.com/Hibis5946/Image-forensics-and-similarity-analysis-of-the-haunted-places-dataset-using-NASA-JPL-ImageSpace.git
